body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

:root {
  --blue-1: #f0f9ff;
  --blue-2: #e0f2fe;
  --blue-3: #bae6fd;
  --blue-4: #7dd3fc;
  --blue-5: #38bdf8;
  --blue-6: #0ea5e9;
  --blue-8: #0369a1;
  --panel-background: white;
  --panel-border: black;
  --text-color: black;
  --link-color: var(--blue-8);
}

.app-container.dark {
  --blue-1: #0c4a6e;
  --blue-2: #075985;
  --blue-3: #0369a1;
  --blue-4: #0284c7;
  --blue-5: #0ea5e9;
  --blue-6: #38bdf8;
  --blue-9: #e0f2fe;
  --panel-background: #222;
  --panel-border: black;
  --text-color: white;
  --link-color: var(--blue-6);
}

a,
a:hover,
a:active,
a:visited {
  color: var(--link-color);
}

.mapboxgl-ctrl,
.bar-button {
  user-select: none;
  -webkit-user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bar-button {
  flex-grow: 1;
  padding: 10px 20px;
  margin: 0;
  border: 0;
  outline: 0;
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 700;
}

.bar-button:nth-child(1) {
  background: var(--blue-1);
}

.bar-button:nth-child(2) {
  background: var(--blue-2);
}

.bar-button:nth-child(3) {
  background: var(--blue-3);
}

.bar-button:nth-child(4) {
  background: var(--blue-4);
}

.bar-button:focus {
  box-shadow: inset 0 0 0 3px var(--blue-6);
}

@media all and (display-mode: standalone) {
  .bar-button {
    padding-bottom: calc(env(safe-area-inset-bottom, 0) * 0.75);
  }
}
