body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

:root {
  --blue-1: #f0f9ff;
  --blue-2: #e0f2fe;
  --blue-3: #bae6fd;
  --blue-4: #7dd3fc;
  --blue-5: #38bdf8;
  --blue-6: #0ea5e9;
  --panel-background: white;
  --panel-border: black;
  --text-color: black;
}

.app-container.dark {
  --blue-1: #0c4a6e;
  --blue-2: #075985;
  --blue-3: #0369a1;
  --blue-4: #0284c7;
  --blue-5: #0ea5e9;
  --blue-6: #38bdf8;
  --panel-background: #222;
  --panel-border: black;
  --text-color: white;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
